<p id="notice"><%= notice %></p>

<div class="col-xs-11">
<h1>Listing Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>address</th>
      <th>mails</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= link_to "mail index", messages_path(user_id: user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
